<p>{{ account.name }}</p>
<a href="/accounts/{{ account._id }}/edit">edit</a><!-- 加入這行 -->
<a href="/">back</a>
<form action="/accounts/{{ account._id }}?_method=DELETE" method="POST" style="display: inline;">
  <button type="submit">delete</button>
</form>