<a href="./accounts/new">Create</a>
<ul>
  {{#each accounts}}
  <li>
    {{this.name}}
    <a href="./accounts/{{ this._id }}">detail</a>
    <a href="./accounts/{{ this._id }}/edit">edit</a><!-- 加入這行 -->
    <form action="./accounts/{{ this._id }}?_method=DELETE" method="POST" style="display: inline;">
      <button type="submit">delete</button>
    </form>
  </li>
  {{/each}}
</ul>

<h1>hihi</h1>