<ul class="list-group">
  {{#each accounts}}
  <li class="list-group-item">
    <div class="row">
      <div class="col-auto me-auto">
        <h4 style="display: inline; vertical-align: middle;">
          {{ this.name }}
        </h4>
      </div>
      <div class="col-auto">
        <a class="btn btn-secondary" href="./accounts/{{ this._id }}">detail</a>
        <a class="btn btn-success" href="./accounts/{{ this._id }}/edit">edit</a>
        <form action="./accounts/{{ this._id }}?_method=DELETE" method="POST" style="display: inline;">
          <button class="btn btn-danger" type="submit">delete</button>
        </form>
      </div>
    </div>
  </li>
  {{/each}}
</ul>